In [2]:
import pandas as pd
# from datetime import datetime as dt, timedelta, date
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
file_path = f'./output/2024-06-11/lumiere-pjm_wholesale_settlement_20240501.snappy.parquet'
df = pd.read_parquet(file_path)

In [11]:
df.head()

,customercode,chargeid,chargegroup,chargename,operatingdate,amount,adj,version,operatingmonth,processdate,process_time,timezone,weather_source
0,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-01,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
1,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-02,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
2,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-03,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
3,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-04,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
4,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-05,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW

In [12]:
df.columns

Index(['customercode', 'chargeid', 'chargegroup', 'chargename',
       'operatingdate', 'amount', 'adj', 'version', 'operatingmonth',
       'processdate', 'process_time', 'timezone', 'weather_source'],
      dtype='object')

In [13]:
formatted_columns = {
'customercode': 'customer_code', 
'chargeid': 'charge_id', 
'chargegroup': 'charge_group', 
'chargename': 'charge_name',
'operatingdate': 'operating_date', 
'adj': 'adjusted', 
'operatingmonth': 'operating_month',
'processdate': 'process_date',
}

df.rename(columns=formatted_columns, inplace=True)
df.head()

,customer_code,charge_id,charge_group,charge_name,operating_date,amount,adjusted,version,operating_month,process_date,process_time,timezone,weather_source
0,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-01,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
1,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-02,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
2,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-03,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
3,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-04,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW
4,IWCLIENT 1,1100,Transmission,Network Integration Transmission Service,2024-02-05,217.74391,None,2024-03-07T08:43:23,2024-02-01,2024-05-01,2024-06-11T09:56:54,America/New_York,IW

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78658 entries, 0 to 78657
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_code    78658 non-null  object
 1   charge_id        78658 non-null  object
 2   charge_group     78658 non-null  object
 3   charge_name      78658 non-null  object
 4   operating_date   78658 non-null  object
 5   amount           78658 non-null  float64
 6   adjusted         12299 non-null  object
 7   version          78658 non-null  object
 8   operating_month  78658 non-null  object
 9   process_date     78658 non-null  object
 10  process_time     78658 non-null  object
 11  timezone         78658 non-null  object
 12  weather_source   78658 non-null  object
dtypes: float64(1), object(12)
memory usage: 7.8+ MB

In [17]:
df['charge_id'] = df['charge_id'].astype(str)

In [19]:
df.to_parquet(f'./output/2024-06-11/lumiere-pjm_wholesale_settlement_20240501.snappy.parquet', compression='snappy')